.nt-loader {
    display: inline-grid;
    place-items: center;
    box-sizing: border-box;
    inline-size: calc(var(--nt-loader-size, 48px) * 1.4142135623730951);
    block-size: calc(var(--nt-loader-size, 48px) * 1.4142135623730951);
    color: var(--nt-loader-indicator-color);
    vertical-align: middle;
    overflow: visible;

    &.tnt-size-xs {
        --nt-loader-size: 24px;
    }

    &.tnt-size-s {
        --nt-loader-size: 40px;
    }

    &.tnt-size-m {
        --nt-loader-size: 48px;
    }

    &.tnt-size-l {
        --nt-loader-size: 64px;
    }

    &.tnt-size-xl {
        --nt-loader-size: 88px;
    }

    ::deep .nt-loader-shape {
        display: inline-grid;
        place-items: center;
        position: relative;
        box-sizing: border-box;
        inline-size: var(--nt-loader-size, 48px);
        block-size: var(--nt-loader-size, 48px);
        color: var(--nt-loader-indicator-color);
        overflow: hidden;
        --nt-shape-content-background: var(--nt-loader-indicator-color);

        .nt-shape-defs {
            position: absolute;
            inline-size: 0;
            block-size: 0;
            overflow: hidden;
            pointer-events: none;
        }

        .nt-shape-content {
            display: grid;
            width: auto;
            height: 100%;
            aspect-ratio: 1 / 1;
            max-width: 100%;
            max-height: 100%;
            min-inline-size: 0;
            min-block-size: 0;
        }
    }

    &.nt-loader-contained {
        ::deep .nt-loader-shape {
            padding: 10%;
            border-radius: 999px;
            background-color: var(--nt-loader-container-color);
        }
    }
}
