@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_typescale.scss' as typescale;
@use '../Styles/_Variables/_interactable.scss' as interactable;

$header-bg-color: var(--tnt-tab-header-background-color);
$header-text-color: var(--tnt-tab-header-text-color);
$header-tint-color: var(--tnt-tab-header-tint-color);
$header-border-height: var(--tnt-tab-view-header-border-size, 1px);

.tnt-tab-view {
    display: block;
    width: 100%;
    margin-top: 8px;
    position: relative;

    & > .tnt-tab-view-header {
        vertical-align: bottom;
        border-bottom: $header-border-height solid colors.$tnt-color-outline;
        margin: 0 8px;
        white-space: nowrap;
        z-index: 10;
        position: relative;

        .tnt-tab-view-header-buttons {
            display: table;
            margin: 0 auto;
            height: 100%;
            display: flex;
            flex-direction: row;
            gap: var(--tnt-tab-view-header-button-gap-size);

            .tnt-tab-view-button {
                display: inline-flex;
                appearance: none;
                border: none;
                outline: none;
                min-width: 80px;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                margin: 0;
                padding: 0 4px;
                vertical-align: bottom;
                width: -moz-fit-content;
                width: -webkit-fit-content;
                width: fit-content;
                box-sizing: border-box;
                background-color: $header-bg-color;
                color: $header-text-color;
                @include typescale.tnt-title-small;

                &.tnt-active {
                    color: $header-tint-color;
                }

                &:not(.tnt-disabled) {
                    @include interactable.tnt-interactable($header-tint-color);
                }

                &.tnt-disabled {
                    pointer-events: none;
                    opacity: 0.5;
                }
            }
        }

        .tnt-tab-view-active-indicator {
            position: absolute;
            display: inline-block;
            height: 3px;
            border-radius: 3px 3px 0 0;
            width: 48px;
            bottom: 0;
            transition: 200ms ease-in-out;
        }
    }


    &.tnt-tab-view-secondary {
        .tnt-tab-view-header {
            .tnt-tab-view-header-buttons {

                .tnt-tab-view-button {
                    padding-top: 8px;
                }
            }

            .tnt-tab-view-active-indicator {
                height: $header-border-height;
                min-height: 2px;
                bottom: calc(-1 * var(--tnt-tab-view-header-border-size, 1px))
            }
        }
    }

    &.tnt-tab-view-alignment-center {
        & > .tnt-tab-view-header .tnt-tab-view-header-buttons {
            justify-content: center;
        }
    }

    &.tnt-tab-view-alignment-end {
        & > .tnt-tab-view-header .tnt-tab-view-header-buttons {
            justify-content: flex-end;
        }
    }

    &.tnt-tab-view-alignment-start {
        & > .tnt-tab-view-header .tnt-tab-view-header-buttons {
            justify-content: flex-start;
        }
    }
}

@keyframes tnt-tab-view-loading {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}
