@use '_inputBase.scss' as base;
@use '../Styles/_Variables/_typescale.scss' as typescale;
@use '../Styles/_Variables/_colors.scss' as colors;

.tnt-input-container {
    display: grid;
    grid-template-areas: "container-input tooltip-icon" "supporting-text supporting-text";
    grid-template-columns: 1fr minmax(0, auto);
    width: 100%;

    &:has(.checkbox-appearance-default) {
        grid-template-rows: auto auto;
    }

    &:has(.checkbox-appearance-span-and-flip) {
        grid-template-rows: 32px auto;

        .tnt-supporting-text {
            position: relative;
            top: -8px;
            padding-left: 4px;
        }

        &:has(.tnt-start-icon) .tnt-supporting-text {
            padding-left: 36px;
        }
    }

    @include base.supporting-text;

    ::deep {
        .tnt-tooltip-icon {
            grid-area: tooltip-icon;
            padding: 0 8px;
        }
    }

    .tnt-input {
        grid-area: container-input;
        justify-self: start;
        grid-template-areas: "switch";
        display: inline-grid;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        cursor: pointer;
        position: relative;

        &.checkbox-appearnce-default {
            min-width: 48px;
            min-height: 48px;
            grid-template-columns: 52px;
            grid-template-rows: 48px;
        }

        &.checkbox-appearance-span-and-flip {
            grid-template-columns: 100%;
        }

        &:has(.tnt-start-icon):has(.tnt-end-icon) {
            grid-template-areas: "start-icon switch end-icon";
            grid-template-columns: 24px 52px 24px;
        }

        &:has(.tnt-start-icon):not(:has(.tnt-end-icon)) {
            grid-template-areas: "start-icon switch";
            grid-template-columns: 24px 52px;
        }

        &:has(.tnt-end-icon):not(:has(.tnt-start-icon)) {
            grid-template-areas: "switch end-icon";
            grid-template-columns: 52px 24px;
        }

        &:has(.tnt-start-icon):has(.tnt-end-icon):has(.tnt-label).checkbox-appearance-default {
            grid-template-areas: "start-icon switch label pad1 end-icon";
            grid-template-columns: 24px 52px auto 12px 24px;
        }

        &:has(.tnt-start-icon):not(:has(.tnt-end-icon)):has(.tnt-label).checkbox-appearance-default {
            grid-template-areas: "start-icon switch label";
            grid-template-columns: 24px 52px auto;
        }

        &:has(.tnt-end-icon):not(:has(.tnt-start-icon)):has(.tnt-label).checkbox-appearance-default {
            grid-template-areas: "switch label pad1 end-icon";
            grid-template-columns: 52px auto 12px 24px;
        }

        &:has(.tnt-label):not(:has(.tnt-start-icon)):not(:has(.tnt-end-icon)).checkbox-appearance-default {
            grid-template-areas: "switch label";
            grid-template-columns: 52px auto;
        }

        &:has(.tnt-start-icon):has(.tnt-end-icon):has(.tnt-label).checkbox-appearance-span-and-flip {
            grid-template-areas: "start-icon pad2 label switch pad1 end-icon";
            grid-template-columns: 24px 12px auto 52px 12px 24px;
        }

        &:has(.tnt-start-icon):not(:has(.tnt-end-icon)):has(.tnt-label).checkbox-appearance-span-and-flip {
            grid-template-areas: "start-icon pad1 label switch";
            grid-template-columns: 24px 12px auto 52px;
        }

        &:has(.tnt-end-icon):not(:has(.tnt-start-icon)):has(.tnt-label).checkbox-appearance-span-and-flip {
            grid-template-areas: "label switch pad1 end-icon";
            grid-template-columns: auto 52px 12px 24px;
        }

        &:has(.tnt-label):not(:has(.tnt-start-icon)):not(:has(.tnt-end-icon)).checkbox-appearance-span-and-flip {
            grid-template-areas: "label switch";
            grid-template-columns: auto 52px;
        }

        &.checkbox-appearance-default {
            .tnt-label {
                justify-self: center;
            }
        }

        &.checkbox-appearance-span-and-flip {
            grid-template-rows: 32px;
            width: 100%;

            .tnt-label {
                justify-self: start;
            }

            .tnt-checkbox-overlay, &:before, &:after {
                justify-self: end;
            }

            &:after {
                position: relative;
                right: 20px;
            }

            &:before {
                position: relative;
                right: 6px;
            }
        }

        .tnt-label {
            grid-area: label;
            align-self: center;
            color: base.$text-color;

            @include typescale.tnt-body-large;
        }

        @include base.disabled-and-readonly;

        input {
            appearance: none;
            grid-area: switch;
            position: absolute;
        }

        ::deep {
            @include base.default-icon;
        }


        .tnt-switch-overlay {
            position: absolute;
            grid-area: switch;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: transparent;
            transition: 250ms ease-in-out;
            box-sizing: border-box;
            align-self: center;
            justify-self: center;
            transform: translateX(-10px);
            z-index: 2;
        }

        &:hover {
            .tnt-switch-overlay {
                background-color: color-mix(in srgb, colors.$tnt-color-scrim 20%, transparent);
            }
        }

        &:focus-within {
            .tnt-switch-overlay {
                border: 2px solid colors.$tnt-color-outline;
            }
        }

        &:before {
            content: '';
            grid-area: switch;
            height: 18px;
            width: 36px;
            background-color: red;
            transition: 250ms ease-in-out;
            border: 2px solid colors.$tnt-color-outline;
            background-color: base.$background-color;
            border-radius: 22px / 100%;
            align-self: center;
            justify-self: center;
            z-index: 1;
            pointer-events: none;
        }

        &:after {
            content: '';
            grid-area: switch;
            height: 12px;
            width: 12px;
            background-color: base.$tint-color;
            transition: 250ms ease-in-out;
            align-self: center;
            justify-self: center;
            border-radius: 50%;
            transform: translateX(-10px);
            z-index: 3;
            pointer-events: none;
        }

        &:has(input:checked) {
            &:before {
                background-color: base.$tint-color;
                border-color: base.$tint-color;
            }

            &:after {
                background-color: base.$background-color;
                transform: translateX(10px) scale(1.4);
            }

            .tnt-switch-overlay {
                transform: translateX(10px);
            }
        }

        &.modified.invalid {

            &:has(input:checked) {
                &:before {
                    background-color: base.$error-color;
                    border-color: base.$error-color;
                }
            }

            &:not(:has(input:checked)) {
                &:before {
                    border-color: base.$error-color;
                }

                &:after {
                    background-color: base.$error-color;
                }
            }

            &:hover {
                .tnt-switch-overlay {
                    background-color: color-mix(in srgb,base.$error-color 20%, transparent);
                }
            }

            .tnt-label {
                color: base.$error-color;
            }

            ::deep {
                .tnt-end-icon {
                    color: base.$error-color;
                }
            }
        }
    }

    &:has(.tnt-form-compact) {
        @include base.tnt-supporting-text-compact;

        &:has(.checkbox-appearance-span-and-flip) {
            grid-template-rows: 32px 16px;
        }
    }
}
