@use '_inputBase.scss' as base;
@use '../Styles/_Variables/_typescale.scss' as typescale;
@use '../Styles/_Variables/_colors.scss' as colors;

.tnt-input-container {
    display: grid;
    grid-template-areas: "container-input tooltip-icon" "supporting-text supporting-text";
    grid-template-columns: 1fr minmax(0, auto);

    &:has(.checkbox-appearance-default) {
        grid-template-rows: auto auto;
    }

    &:has(.checkbox-appearance-span-and-flip) {
        grid-template-rows: 32px auto;

        .tnt-supporting-text {
            position: relative;
            top: -8px;
            padding-left: 4px;
        }

        &:has(.tnt-start-icon) .tnt-supporting-text {
            padding-left: 36px;
        }
    }


    @include base.supporting-text;

    ::deep {
        .tnt-tooltip-icon {
            grid-area: tooltip-icon;
            padding: 0 8px;
        }
    }

    .tnt-input {
        grid-area: container-input;
        justify-self: start;
        grid-template-areas: "checkbox";
        display: inline-grid;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        cursor: pointer;
        position: relative;

        &.checkbox-appearnce-default {
            min-width: 48px;
            min-height: 48px;
            grid-template-columns: 48px;
            grid-template-rows: 48px;
        }

        &.checkbox-appearance-span-and-flip {
            grid-template-columns: 100%;
        }

        &:has(.tnt-start-icon):has(.tnt-end-icon) {
            grid-template-areas: "start-icon checkbox end-icon";
            grid-template-columns: 24px 48px 24px;
        }

        &:has(.tnt-start-icon):not(:has(.tnt-end-icon)) {
            grid-template-areas: "start-icon checkbox";
            grid-template-columns: 24px 48px;
        }

        &:has(.tnt-end-icon):not(:has(.tnt-start-icon)) {
            grid-template-areas: "checkbox end-icon";
            grid-template-columns: 48px 24px;
        }

        &:has(.tnt-start-icon):has(.tnt-end-icon):has(.tnt-label).checkbox-appearance-default {
            grid-template-areas: "start-icon checkbox label pad1 end-icon";
            grid-template-columns: 24px 48px auto 12px 24px;
        }

        &:has(.tnt-start-icon):not(:has(.tnt-end-icon)):has(.tnt-label).checkbox-appearance-default {
            grid-template-areas: "start-icon checkbox label";
            grid-template-columns: 24px 48px auto;
        }

        &:has(.tnt-end-icon):not(:has(.tnt-start-icon)):has(.tnt-label).checkbox-appearance-default {
            grid-template-areas: "checkbox label pad1 end-icon";
            grid-template-columns: 48px auto 12px 24px;
        }

        &:has(.tnt-label):not(:has(.tnt-start-icon)):not(:has(.tnt-end-icon)).checkbox-appearance-default {
            grid-template-areas: "checkbox label";
            grid-template-columns: 48px auto;
        }

        &:has(.tnt-start-icon):has(.tnt-end-icon):has(.tnt-label).checkbox-appearance-span-and-flip {
            grid-template-areas: "start-icon pad2 label checkbox pad1 end-icon";
            grid-template-columns: 24px 12px auto 48px 12px 24px;
        }

        &:has(.tnt-start-icon):not(:has(.tnt-end-icon)):has(.tnt-label).checkbox-appearance-span-and-flip {
            grid-template-areas: "start-icon pad1 label checkbox";
            grid-template-columns: 24px 12px auto 48px;
        }

        &:has(.tnt-end-icon):not(:has(.tnt-start-icon)):has(.tnt-label).checkbox-appearance-span-and-flip {
            grid-template-areas: "label checkbox pad1 end-icon";
            grid-template-columns: auto 48px 12px 24px;
        }

        &:has(.tnt-label):not(:has(.tnt-start-icon)):not(:has(.tnt-end-icon)).checkbox-appearance-span-and-flip {
            grid-template-areas: "label checkbox";
            grid-template-columns: auto 48px;
        }

        &.checkbox-appearance-default {
            .tnt-label {
                justify-self: center;
            }
        }

        &.checkbox-appearance-span-and-flip {
            grid-template-rows: 32px;
            width: 100%;

            .tnt-label {
                justify-self: start;
            }

            .tnt-checkbox-overlay, &:before, &:after {
                justify-self: end;
            }

            &:after {
                position: relative;
                right: 18px;
            }

            &:before {
                position: relative;
                right: 12px;
            }
        }


        .tnt-label {
            grid-area: label;
            align-self: center;
            color: base.$text-color;

            @include typescale.tnt-body-large;
        }

        &:has(input[readonly]) {
            pointer-events: none;
            opacity: 0.7;
        }

        &.tnt-disabled {
            pointer-events: none;
            opacity: 0.5 !important;
            user-select: none;
        }

        input {
            appearance: none;
            grid-area: checkbox;
            position: absolute;
        }

        ::deep {
            @include base.default-icon;
        }

        .tnt-checkbox-overlay {
            position: absolute;
            grid-area: checkbox;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: transparent;
            transition: 250ms ease-in-out;
            box-sizing: border-box;
            align-self: center;
            justify-self: center;
        }

        &:hover {
            .tnt-checkbox-overlay {
                background-color: color-mix(in srgb, colors.$tnt-color-scrim 20%, transparent);
            }
        }

        &:focus-within {
            .tnt-checkbox-overlay {
                border: 2px solid colors.$tnt-color-outline;
            }
        }

        &:before {
            content: '';
            grid-area: checkbox;
            height: 18px;
            width: 18px;
            border: 2px solid base.$text-color;
            border-radius: 4px;
            background-color: transparent;
            transition: 250ms ease-in-out;
            align-self: center;
            justify-self: center;
            pointer-events: none;
            z-index: 1;
        }

        &:after {
            content: '';
            grid-area: checkbox;
            height: 14px;
            width: 7px;
            border-right: 2px solid base.$background-color;
            border-bottom: 3px solid base.$background-color;
            background-color: transparent;
            transition: 250ms ease-in-out;
            align-self: center;
            justify-self: center;
            z-index: 2;
            transform: translateY(-4px) rotateZ(45deg) rotateY(90deg);
            pointer-events: none;
        }

        &:has(input:checked) {
            &:before {
                background-color: base.$tint-color;
                border-color: base.$tint-color;
            }

            &:after {
                transform: translateY(-2px) rotateZ(45deg);
            }
        }

        &.modified.invalid {

            &:has(input:checked) {
                &:before {
                    background-color: base.$error-color;
                    border-color: base.$error-color;
                }
            }

            &:not(:has(input:checked)) {
                &:before {
                    border-color: base.$error-color;
                }
            }

            &:hover {
                .tnt-checkbox-overlay {
                    background-color: color-mix(in srgb, base.$error-color 20%, transparent);
                }
            }

            .tnt-label {
                color: base.$error-color;
            }

            ::deep {
                .tnt-end-icon {
                    color: base.$error-color;
                }
            }
        }
    }

    &:has(.tnt-form-compact) {
        @include base.tnt-supporting-text-compact;

        &:has(.checkbox-appearance-span-and-flip) {
            grid-template-rows: 32px 16px;
        }
    }
}
