@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_typescale.scss' as typescale;
@use '../Styles/_Variables/_interactable.scss' as interactable;
@use '../Styles/_Variables/_measurements.scss' as measurements;
@use '../Styles/_Variables/_elevation.scss' as elevation;
@use './TnTDataGridVariables.scss' as dg;

$itemSize: var(--tnt-data-grid-row-height);

.tnt-datagrid {
    min-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: dg.$bg-color;

    @media #{measurements.$small-and-down} {
        table-layout: auto;
    }

    ::deep {
        thead th {
            position: relative;

            .tnt-resizeable {
                position: absolute;
                top: 0;
                right: 0;
                width: 5px;
                background-color: transparent;
                cursor: col-resize;
                border-right: 1px solid colors.$tnt-color-outline;
            }
        }


        td {
            height: inherit;
            @include typescale.tnt-body-medium;
        }
    }


    &.tnt-compact {
        width: 100%;

        ::deep {
            tr {
                td {
                    height: inherit;
                    max-height: inherit;

                    .nt-cell-container {
                        display: flex;
                        align-items: center;
                        height: inherit;
                        max-height: inherit;
                        overflow: clip;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        .tnt-button {
                            margin: 0;
                            padding: 0;
                            max-height: inherit;

                            .tnt-small-button-layer {
                                max-height: inherit;
                            }
                        }
                    }

                    &.tnt-text-align-left .nt-cell-container {
                        justify-content: flex-start;
                    }

                    &.tnt-text-align-justify .nt-cell-container {
                        justify-content: space-around;
                    }

                    &.tnt-text-align-right .nt-cell-container {
                        justify-content: flex-end;
                    }

                    &.tnt-text-align-center .nt-cell-container {
                        justify-content: center;
                    }
                }
            }
        }
    }

    &.tnt-table-layout-fixed {
        table-layout: fixed;
    }
}

@keyframes empty-grid-cell-animation {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}
