@typeparam TGridItem
@inherits TnTDataGridCell<TGridItem>

<td @attributes="Column.AdditionalAttributes" class="@Column.ElementClass" style="@ElementStyle">
	<div class="nt-cell-container">
		@Column.RenderCellContent(Item)
	</div>
</td>