@page "/Forms"
@using LiveTest.Client.Components

<FormWasmDemo @rendermode="InteractiveWebAssembly" />

<div style="margin:16px 0;">
    <InputFileServerProgressDemo Title="NTInputFile Server Upload (No SSE)"
                                 @rendermode="InteractiveServer" />
</div>
