@use '../../Styles/_Variables/_screen-width.scss' as screen-width;
@use './viewCommon' as view;

@include view.root;

.nt-list-detail-view {
    display: grid;
    grid-template-areas: 'list';
    grid-template-columns: minmax(0, 1fr);

    .nt-list-detail-view-list {
        grid-area: list;
        overflow: clip;
    }

    .nt-list-detail-view-detail {
        display: none;
        grid-area: detail;
        overflow: clip;
    }

    ::deep [data-nt-list-detail-panel][hidden] {
        display: none;
    }

    &.nt-list-detail-view-detail-visible {
        grid-template-areas: 'detail';

        .nt-list-detail-view-list {
            display: none;
        }

        .nt-list-detail-view-detail {
            display: block;
        }
    }
}

@media #{screen-width.$medium-and-up} {
    .nt-list-detail-view:not(.nt-list-detail-view-single-pane),
    .nt-list-detail-view-two-pane {
        grid-template-areas: 'list detail';
        grid-template-columns: minmax(#{view.$list-detail-list-min-inline-size}, #{view.$list-detail-list-inline-size}) minmax(0, 1fr);

        .nt-list-detail-view-list,
        .nt-list-detail-view-detail {
            display: block;
        }
    }
}

@media #{screen-width.$large-and-up} {
    .nt-list-detail-view:not(.nt-list-detail-view-single-pane),
    .nt-list-detail-view-two-pane {
        grid-template-columns: minmax(#{view.$list-detail-list-min-inline-size}, #{view.$list-detail-list-expanded-inline-size}) minmax(0, 1fr);
    }
}
