@use 'sass:map';
@use '../Styles/_Variables/_colors.scss' as colors;
@use '../Styles/_Variables/_corner-radius.scss' as corners;
@use '../Styles/_Variables/_elevation.scss' as elevation;
@use '../Styles/_Variables/_motion.scss' as motion;
@use '../Styles/_Variables/_typescale.scss' as typescale;

$tnt-carousel-state-transition: motion.$nt-motion-duration-short_3 motion.$nt-motion-easing-standard;

.tnt-carousel {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 8px 16px;
    box-sizing: border-box;
    height: 700px;
    width: 100%;
    background-color: colors.$tnt-color-transparent;
    box-shadow: map.get(elevation.$elevation-shadows, 0);
    color: colors.$tnt-color-on-surface;
    transition: background-color $tnt-carousel-state-transition, box-shadow $tnt-carousel-state-transition, color $tnt-carousel-state-transition;

    @include typescale.nt-body-large;

    &.tnt-carousel-snapping {
        &:not(.tnt-carousel-centered) {
            ::deep tnt-carousel-item {
                scroll-snap-align: start;
            }
        }

        &.tnt-carousel-centered {
            ::deep tnt-carousel-item {
                scroll-snap-align: center;
            }
        }

        .tnt-carousel-viewport:not(.tnt-carousel-dragging) {
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
        }
    }

    .tnt-carousel-viewport {
        height: 100%;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-flow: row nowrap;
        gap: 8px;
        border-radius: corners.$nt-corner-radius-extra-large;
        -ms-overflow-style: none;
        scrollbar-width: none;
        cursor: grab;
        user-select: none;

        &.tnt-carousel-dragging {
            cursor: grabbing;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
