@namespace NTComponents
@using NTComponents.Core
@using NTComponents.Snackbar

<div class="@ContainerClass" data-nt-snackbar-host="true" popover="manual"></div>
<NTPageScript Src="@JsModulePathValue" />
