@namespace NTComponents
@using Microsoft.AspNetCore.Components

<div class="tnt-rich-text-editor-inline-tool tnt-rich-text-editor-text-color-editor"
     data-tool-command="textColor"
     data-role="text-color-editor"
     hidden
     aria-hidden="true">
    <div class="tnt-rich-text-editor-inline-tool-fields">
        <label class="tnt-rich-text-editor-inline-tool-field">
            <span>Text color</span>
            <input type="color"
                   data-role="text-color-value"
                   disabled="@Disabled" />
        </label>
    </div>
    <div class="tnt-rich-text-editor-inline-tool-actions">
        <button type="button"
                class="tnt-rich-text-editor-toolbar-button"
                data-role="text-color-apply"
                disabled="@Disabled">
            Apply color
        </button>
        <button type="button"
                class="tnt-rich-text-editor-toolbar-button"
                data-role="text-color-cancel"
                disabled="@Disabled">
            Cancel
        </button>
    </div>
</div>

@code {
    [Parameter]
    public bool Disabled { get; set; }
}
