@use '../Styles/_Variables/_colors.scss' as colors;

@mixin tnt-button-filled-colors($bg-color, $fg-color) {
    background-color: $bg-color;
    color: $fg-color;
}

@mixin tnt-button-outlined-colors($fg-color, $outline-color: colors.$tnt-color-outline-variant) {
    background-color: transparent;
    color: $fg-color;
    border: 1px solid $outline-color;
}

@mixin tnt-button-filled-disabled-colors($bg-color, $fg-color) {
    color: color-mix(in srgb, #{$fg-color} 60%, transparent);
    background-color: color-mix(in srgb, #{$bg-color} 60%, transparent);
}

@mixin tnt-button-outlined-disabled-colors($fg-color) {
    color: color-mix(in srgb, #{$fg-color} 40%, transparent);
}

@mixin tnt-button-filled-hover($bg-color) {
    background-color: color-mix(in srgb, #{$bg-color} 85%, black);
}

@mixin tnt-button-outlined-hover($fg-color) {
    background-color: color-mix(in srgb, #{$fg-color} 12%, transparent);
}
