$nt-color-transparent: transparent;
$nt-color-primary: var(--nt-color-primary);
$nt-color-surface-tint: var(--nt-color-surface-tint);
$nt-color-on-primary: var(--nt-color-on-primary);
$nt-color-primary-container: var(--nt-color-primary-container);
$nt-color-on-primary-container: var(--nt-color-on-primary-container);
$nt-color-secondary: var(--nt-color-secondary);
$nt-color-on-secondary: var(--nt-color-on-secondary);
$nt-color-secondary-container: var(--nt-color-secondary-container);
$nt-color-on-secondary-container: var(--nt-color-on-secondary-container);
$nt-color-tertiary: var(--nt-color-tertiary);
$nt-color-on-tertiary: var(--nt-color-on-tertiary);
$nt-color-tertiary-container: var(--nt-color-tertiary-container);
$nt-color-on-tertiary-container: var(--nt-color-on-tertiary-container);
$nt-color-error: var(--nt-color-error);
$nt-color-on-error: var(--nt-color-on-error);
$nt-color-error-container: var(--nt-color-error-container);
$nt-color-on-error-container: var(--nt-color-on-error-container);
$nt-color-background: var(--nt-color-background);
$nt-color-on-background: var(--nt-color-on-background);
$nt-color-surface: var(--nt-color-surface);
$nt-color-on-surface: var(--nt-color-on-surface);
$nt-color-surface-variant: var(--nt-color-surface-variant);
$nt-color-on-surface-variant: var(--nt-color-on-surface-variant);
$nt-color-outline: var(--nt-color-outline);
$nt-color-outline-variant: var(--nt-color-outline-variant);
$nt-color-shadow: var(--nt-color-shadow);
$nt-color-scrim: var(--nt-color-scrim);
$nt-color-inverse-surface: var(--nt-color-inverse-surface);
$nt-color-inverse-on-surface: var(--nt-color-inverse-on-surface);
$nt-color-inverse-primary: var(--nt-color-inverse-primary);
$nt-color-primary-fixed: var(--nt-color-primary-fixed);
$nt-color-on-primary-fixed: var(--nt-color-on-primary-fixed);
$nt-color-primary-fixed-dim: var(--nt-color-primary-fixed-dim);
$nt-color-on-primary-fixed-variant: var(--nt-color-on-primary-fixed-variant);
$nt-color-secondary-fixed: var(--nt-color-secondary-fixed);
$nt-color-on-secondary-fixed: var(--nt-color-on-secondary-fixed);
$nt-color-secondary-fixed-dim: var(--nt-color-secondary-fixed-dim);
$nt-color-on-secondary-fixed-variant: var(--nt-color-on-secondary-fixed-variant);
$nt-color-tertiary-fixed: var(--nt-color-tertiary-fixed);
$nt-color-on-tertiary-fixed: var(--nt-color-on-tertiary-fixed);
$nt-color-tertiary-fixed-dim: var(--nt-color-tertiary-fixed-dim);
$nt-color-on-tertiary-fixed-variant: var(--nt-color-on-tertiary-fixed-variant);
$nt-color-surface-dim: var(--nt-color-surface-dim);
$nt-color-surface-bright: var(--nt-color-surface-bright);
$nt-color-surface-container-lowest: var(--nt-color-surface-container-lowest);
$nt-color-surface-container-low: var(--nt-color-surface-container-low);
$nt-color-surface-container: var(--nt-color-surface-container);
$nt-color-surface-container-high: var(--nt-color-surface-container-high);
$nt-color-surface-container-highest: var(--nt-color-surface-container-highest);
$nt-color-success: var(--nt-color-success);
$nt-color-on-success: var(--nt-color-on-success);
$nt-color-success-container: var(--nt-color-success-container);
$nt-color-on-success-container: var(--nt-color-on-success-container);
$nt-color-warning: var(--nt-color-warning);
$nt-color-on-warning: var(--nt-color-on-warning);
$nt-color-warning-container: var(--nt-color-warning-container);
$nt-color-on-warning-container: var(--nt-color-on-warning-container);
$nt-color-info: var(--nt-color-info);
$nt-color-on-info: var(--nt-color-on-info);
$nt-color-info-container: var(--nt-color-info-container);
$nt-color-on-info-container: var(--nt-color-on-info-container);
$nt-color-assert: var(--nt-color-assert);
$nt-color-on-assert: var(--nt-color-on-assert);
$nt-color-assert-container: var(--nt-color-assert-container);
$nt-color-on-assert-container: var(--nt-color-on-assert-container);

$nt-all-color-classes: (
    transparent,
    primary,
    surface-tint,
    on-primary,
    primary-container,
    on-primary-container,
    secondary,
    on-secondary,
    secondary-container,
    on-secondary-container,
    tertiary,
    on-tertiary,
    tertiary-container,
    on-tertiary-container,
    error,
    on-error,
    error-container,
    on-error-container,
    background,
    on-background,
    surface,
    on-surface,
    surface-variant,
    on-surface-variant,
    outline,
    outline-variant,
    shadow,
    scrim,
    inverse-surface,
    inverse-on-surface,
    inverse-primary,
    primary-fixed,
    on-primary-fixed,
    primary-fixed-dim,
    on-primary-fixed-variant,
    secondary-fixed,
    on-secondary-fixed,
    secondary-fixed-dim,
    on-secondary-fixed-variant,
    tertiary-fixed,
    on-tertiary-fixed,
    tertiary-fixed-dim,
    on-tertiary-fixed-variant,
    surface-dim,
    surface-bright,
    surface-container-lowest,
    surface-container-low,
    surface-container,
    surface-container-high,
    surface-container-highest,
    success,
    on-success,
    success-container,
    on-success-container,
    warning,
    on-warning,
    warning-container,
    on-warning-container,
    info,
    on-info,
    info-container,
    on-info-container,
    assert,
    on-assert,
    assert-container,
    on-assert-container
);

$tnt-color-transparent: transparent;
$tnt-color-black: black;
$tnt-color-white: white;
$tnt-color-primary: var(--tnt-color-primary);
$tnt-color-surface-tint: var(--tnt-color-surface-tint);
$tnt-color-on-primary: var(--tnt-color-on-primary);
$tnt-color-primary-container: var(--tnt-color-primary-container);
$tnt-color-on-primary-container: var(--tnt-color-on-primary-container);
$tnt-color-secondary: var(--tnt-color-secondary);
$tnt-color-on-secondary: var(--tnt-color-on-secondary);
$tnt-color-secondary-container: var(--tnt-color-secondary-container);
$tnt-color-on-secondary-container: var(--tnt-color-on-secondary-container);
$tnt-color-tertiary: var(--tnt-color-tertiary);
$tnt-color-on-tertiary: var(--tnt-color-on-tertiary);
$tnt-color-tertiary-container: var(--tnt-color-tertiary-container);
$tnt-color-on-tertiary-container: var(--tnt-color-on-tertiary-container);
$tnt-color-error: var(--tnt-color-error);
$tnt-color-on-error: var(--tnt-color-on-error);
$tnt-color-error-container: var(--tnt-color-error-container);
$tnt-color-on-error-container: var(--tnt-color-on-error-container);
$tnt-color-background: var(--tnt-color-background);
$tnt-color-on-background: var(--tnt-color-on-background);
$tnt-color-surface: var(--tnt-color-surface);
$tnt-color-on-surface: var(--tnt-color-on-surface);
$tnt-color-surface-variant: var(--tnt-color-surface-variant);
$tnt-color-on-surface-variant: var(--tnt-color-on-surface-variant);
$tnt-color-outline: var(--tnt-color-outline);
$tnt-color-outline-variant: var(--tnt-color-outline-variant);
$tnt-color-shadow: var(--tnt-color-shadow);
$tnt-color-scrim: var(--tnt-color-scrim);
$tnt-color-inverse-surface: var(--tnt-color-inverse-surface);
$tnt-color-inverse-on-surface: var(--tnt-color-inverse-on-surface);
$tnt-color-inverse-primary: var(--tnt-color-inverse-primary);
$tnt-color-primary-fixed: var(--tnt-color-primary-fixed);
$tnt-color-on-primary-fixed: var(--tnt-color-on-primary-fixed);
$tnt-color-primary-fixed-dim: var(--tnt-color-primary-fixed-dim);
$tnt-color-on-primary-fixed-variant: var(--tnt-color-on-primary-fixed-variant);
$tnt-color-secondary-fixed: var(--tnt-color-secondary-fixed);
$tnt-color-on-secondary-fixed: var(--tnt-color-on-secondary-fixed);
$tnt-color-secondary-fixed-dim: var(--tnt-color-secondary-fixed-dim);
$tnt-color-on-secondary-fixed-variant: var(--tnt-color-on-secondary-fixed-variant);
$tnt-color-tertiary-fixed: var(--tnt-color-tertiary-fixed);
$tnt-color-on-tertiary-fixed: var(--tnt-color-on-tertiary-fixed);
$tnt-color-tertiary-fixed-dim: var(--tnt-color-tertiary-fixed-dim);
$tnt-color-on-tertiary-fixed-variant: var(--tnt-color-on-tertiary-fixed-variant);
$tnt-color-surface-dim: var(--tnt-color-surface-dim);
$tnt-color-surface-bright: var(--tnt-color-surface-bright);
$tnt-color-surface-container-lowest: var(--tnt-color-surface-container-lowest);
$tnt-color-surface-container-low: var(--tnt-color-surface-container-low);
$tnt-color-surface-container: var(--tnt-color-surface-container);
$tnt-color-surface-container-high: var(--tnt-color-surface-container-high);
$tnt-color-surface-container-highest: var(--tnt-color-surface-container-highest);
$tnt-color-success: var(--tnt-color-success);
$tnt-color-on-success: var(--tnt-color-on-success);
$tnt-color-success-container: var(--tnt-color-success-container);
$tnt-color-on-success-container: var(--tnt-color-on-success-container);
$tnt-color-warning: var(--tnt-color-warning);
$tnt-color-on-warning: var(--tnt-color-on-warning);
$tnt-color-warning-container: var(--tnt-color-warning-container);
$tnt-color-on-warning-container: var(--tnt-color-on-warning-container);
$tnt-color-info: var(--tnt-color-info);
$tnt-color-on-info: var(--tnt-color-on-info);
$tnt-color-info-container: var(--tnt-color-info-container);
$tnt-color-on-info-container: var(--tnt-color-on-info-container);

$tnt-all-color-classes: transparent, black, white, primary, surface-tint, on-primary, primary-container, on-primary-container, secondary, on-secondary, secondary-container, on-secondary-container, tertiary, on-tertiary, tertiary-container, on-tertiary-container, error, on-error, error-container, on-error-container, background, on-background, surface, on-surface, surface-variant, on-surface-variant, outline, outline-variant, shadow, scrim, inverse-surface, inverse-on-surface, inverse-primary, primary-fixed, on-primary-fixed, primary-fixed-dim, on-primary-fixed-variant, secondary-fixed, on-secondary-fixed, secondary-fixed-dim, on-secondary-fixed-variant, tertiary-fixed, on-tertiary-fixed, tertiary-fixed-dim, on-tertiary-fixed-variant, surface-dim, surface-bright, surface-container-lowest, surface-container-low, surface-container, surface-container-high, surface-container-highest, success, on-success, success-container, on-success-container, warning, on-warning, warning-container, on-warning-container, info, on-info, info-container, on-info-container;

