$nt-corner-radius-none: var(--nt-sys-shape-corner-none, 0px);
$nt-corner-radius-extra-small: var(--nt-sys-shape-corner-extra-small, 4px);
$nt-corner-radius-small: var(--nt-sys-shape-corner-small, 8px);
$nt-corner-radius-medium: var(--nt-sys-shape-corner-medium, 12px);
$nt-corner-radius-large: var(--nt-sys-shape-corner-large, 16px);
$nt-corner-radius-large-increased: var(--nt-sys-shape-corner-large-increased, 20px);
$nt-corner-radius-extra-large: var(--nt-sys-shape-corner-extra-large, 28px);
$nt-corner-radius-extra-large-increased: var(--nt-sys-shape-corner-extra-large-increased, 32px);
$nt-corner-radius-extra-extra-large: var(--nt-sys-shape-corner-extra-extra-large, 48px);
$nt-corner-radius-full: var(--nt-sys-shape-corner-full, 50%);
