$extra-small: 0px !default;
$small: 600px !default;
$medium: 840px !default;
$large: 1200px !default;
$extra-large: 1600px !default;

$extra-small-only: "only screen and (max-width: #{$small - 1px})" !default;
$small-only: "only screen and (min-width: #{$small}) and (max-width: #{$medium - 1px})" !default;
$medium-only: "only screen and (min-width: #{$medium}) and (max-width: #{$large - 1px})" !default;
$large-only: "only screen and (min-width: #{$large}) and (max-width: #{$extra-large - 1px})" !default;
$extra-large-only: "only screen and (min-width: #{$extra-large})" !default;

$extra-small-and-down: $extra-small-only !default;
$small-and-down: "only screen and (max-width: #{$medium - 1px})" !default;
$medium-and-down: "only screen and (max-width: #{$large - 1px})" !default;
$large-and-down: "only screen and (max-width: #{$extra-large - 1px})" !default;

$extra-small-and-up: "only screen and (min-width: #{$extra-small})" !default;
$small-and-up: "only screen and (min-width: #{$small})" !default;
$medium-and-up: "only screen and (min-width: #{$medium})" !default;
$large-and-up: "only screen and (min-width: #{$large})" !default;
$extra-large-and-up: $extra-large-only !default;
