@inherits LayoutComponentBase
<div class="site-shell">
    <header class="site-header">
        <a href="">NTComponents.Site</a>
    </header>

    <main class="site-main">
        @Body
    </main>
</div>
